    html, body{
      height: 100%;
      width: 100%;
    }
    #container{
      height: 100%;
      width: 100%;
      overflow: auto;
      background-color: #666666;
    }
    #sidebar{
      height: 100%;
    }
    #map {
      height:100%;
    }
    .mapboxgl-ctrl-attrib.compact {
    margin: 10px 10px 10px 10px;
    }
    #sidebar2 {
      height:97%;
      overflow: auto;
      margin-top:0px;
    }
    #accordion {
      overflow-y: auto;
      margin-top: 5px;
    }
    .modal-footer {
    padding: 5px;
    }
    #about{
      color:white;
    }
    h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
    line-height: 20px;
    padding: 20px 2px;
    }
    a {
    color:#404040;
    text-decoration:none;
    }
    a:hover { 
    color:#101010; 
    }
    .heading {
    background:#666666;
    border-bottom:1px solid #eee;
    /*  min-height:60px; */
    line-height:10px;
    padding:0 10px;
    color: white;
    }
    .clearfix { display:block; }
    .clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    }
    /* popup style */
    .mapboxgl-popup {
    padding-bottom: 30px;
    }
    .mapboxgl-popup-close-button {
    display:none;
    }
    .mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:230px;
    text-align: center;
    }
    .mapboxgl-popup-content-wrapper {
    padding:1%;
    }
    .mapboxgl-popup-content h3 {
    background:#666666;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
    }
    .mapboxgl-popup-content h4 {
    margin:0;
    display:block;
    padding: 10px 10px 10px 10px;
    font-weight:400;
    margin: 0;
    }
    .mapboxgl-popup-content div {
    padding:10px;
    }
    .mapboxgl-container .leaflet-marker-icon { 
    cursor:pointer; 
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
    }
    /* Map Layers */
    #legend-stack {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
        width: 450px;
        height: 100px;
        top: 10px;
        left: 10px;
        background-color: white;
        border-radius: 4px;
    }   
    .legend-icons{
      width: 23%;
    } 
    .legend-icons img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
    }
    #info-stack {
        position: fixed;
        z-index: 100;
        bottom: 10px;
        left: 10px;
        max-height: 600px;
        width:450px;
        background-color: white;
        border-radius: 4px;
    }            