    html, body {
    height: 100%;
    margin: 0;
    }
    body { padding-top: 50px; }
    .navbar-default .navbar-brand {
    color: #0078ae;
    }
    #map {
    height: 100%;
    }
    #container{
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 9px;
    }
    .navbar-brand {
    padding: 8px 15px;
    line-height: 20px;
    }
    #header-link{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    }
    #dvrpc-logo{
        margin: 5px 0px 0px 0px;
    }
    #header-link-text{
    font-size: 20px;
    margin: 4px 0px 0px 10px;
    }
    .container-fluid{
    z-index: 30;
    background: #0074ad;
    height: 60px;
    border-bottom: 3px solid #f7f7f7;
    }
    .mapboxgl-ctrl-attrib.compact {
    margin: 10px 10px 10px 10px;
    }
    .modal-footer {
    padding: 5px;
    }
    .modal-dialog{
    width:900px;
    }
    h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
    line-height: 20px;
    padding: 20px 2px;
    }
    a {
    color:#404040;
    text-decoration:none;
    }
    a:hover { 
    color:#101010; 
    }
    .heading {
    background:#666666;
    border-bottom:1px solid #eee;
    /*  min-height:60px; */
    line-height:10px;
    padding:0 10px;
    color: white;
    }
    .clearfix { display:block; }
    .clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    }
    #zoomtoregion{
    position: absolute;
    top:130px;
    right:12px;
    z-index:100;
    background-color:white;
    color:black;
    padding:6px;
    border-radius:4px;
    font-family: 'Helvetica Neue';
    cursor: pointer;
    font-size:12px;
    text-decoration:none;
    background-image: url(https://raw.githubusercontent.com/dvrpc/license-plate-survey/master/src/img/dvrpc_bug.png);
    background-size: 27px 27px;
     background-position: center; 
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    }
    #zoomtoregion:hover{
    background-color: #ddd;
    }
    /* Marker styles */
    .marker1 {
    background-image: url('img/EI.png');
    background-size: cover;
    width: 30px;
    height: 35px;
    cursor: pointer;
    }
    .marker1a {
    background-image: url('img/EIg.png');
    background-size: cover;
    width: 28px;
    height: 35px;
    cursor: pointer;
    }
    .marker2 {
    background-image: url('img/ES.png');
    background-size: cover;
    width: 28px;
    height: 35px;
    cursor: pointer;
    } 
    .marker3 {
    background-image: url('img/GB.png');
    background-size: cover;
    width: 28px;
    height: 35px;
    cursor: pointer;
    }
    .marker4 {
    background-image: url('img/SPG.png');
    background-size: cover;
    width: 28px;
    height: 35px;
    cursor: pointer;
    }
    /* popup style */
    .mapboxgl-popup {
    padding-bottom: 30px;
    }
    .mapboxgl-popup-close-button {
    display:none;
    }
    .mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:230px;
    text-align: center;
    }
    .mapboxgl-popup-content-wrapper {
    padding:1%;
    }
    .mapboxgl-popup-content h3 {
    background:#666666;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
    }
    .mapboxgl-popup-content h4 {
    margin:0;
    display:block;
    padding: 10px 10px 10px 10px;
    font-weight:400;
    margin: 0;
    }
    .mapboxgl-popup-content div {
    padding:10px;
    }
    .mapboxgl-container .leaflet-marker-icon { 
    cursor:pointer; 
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
    }
    /* Map Layers */
    #legend-stack {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
        width: 400px;
        height: 115px;
        top: 60px;
        left: 10px;
        background-color: white;
        border-radius: 4px;
    }   
    .legend-icons{
      width: 23%;
    } 
    .legend-icons img {
      display: block;
      margin: 5px 0px 5px 5px;
      max-height: 100%;
    }
    .about-icon {
    width: 35px;
    height: 42px;
    margin-right: 5px;
    float:left;
    }
    .about-icon2 {
    width: 38px;
    height: 38px;
    margin-right: 5px;
      float:left;
    }
    /* Layer Information */
    #info-stack {
        position: fixed;
        z-index: 100;
        bottom: 10px;
        left: 10px;
        max-height: 600px;
        width:450px;
        background-color: white;
        border-radius: 4px;
        padding: 8px;
    }            